<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirm token</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="background">
<div th:replace="fragments/menu"></div>

<div class="container">
    <div class="row my-5 offset-xl-3">
        <form th:action="@{/voting/confirm}" method="post" th:object="${tokenFromVoter}">
            <div class="form-group">
                <label for="token" class="title">Enter your token</label>
                <input id="token" type="text" th:field="*{token}" class="form-control"/>
            </div>
            <div class="row">
                <p class="text-danger" th:text="${error}"></p>
            </div>
            <div class="offset-xl-4">
                <button class="text btn-success btn-lg" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>